body{
    margin:0;
    /*background: #b92b27;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Nunito', sans-serif;
    background-size:cover; 
}
.devsign{
    position: fixed;
    left:.5em;
    bottom:.2em;
    font-size:.7em;
    color:white;
}
.fontName{
    position: fixed;
    left:1em;
    top:3em;
    font-size: 1.5em;
    color:white; 
    font-weight: bold;
}
.header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 3em;
    background: #3c78ab;
}
.container{
    color:#e8e8e8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10em;
}
.separator{
    border:3px solid #cc2941;
    border-radius:10%;
    margin:.1em;
}

/*mensaje*/
.messagecontainer{
    border:1px solid rgba(46, 46, 46, 0.123);;
    background: rgba(222, 222, 222, 0.70);
    max-width: 70%;
    max-height: 50%;
    min-width: 50%;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:5px;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 64%);
    font-weight: bold;
}
.titulo{
    /*color:rgba(207, 92, 24, 0.75);*/
    font-size:3.7em;
    padding: 0;
}
.parrafo{
    /*color:rgb(35 95 123 / 93%);*/
    font-size:3.2em;
    padding: 0 .5em 0 .5em;
}
#formul{
    z-index:10;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    display:none;
    animation: bounce 0.3s infinite alternate;
    -webkit-animation: bounce 0.3s infinite alternate;
}
.cont_switcher{
    z-index:10;
}
.input{
    display: block;
    border-radius: 5px;
    background: #00000030;
    color: white;
    font-family: 'Nunito', sans-serif;
    border: 1px solid white;
    padding: .2em;
    width: 100%;
    font-weight: bold;
    margin:.2em;
}

input{
    cursor:pointer;
    z-index: 100;
    font-size: .9em;
}
input[type="button"]{
    background: #3b5777;
    color:white;
    padding: .5em;
    border-radius:5px;
    font-weight: bold;
    margin:.2em;
}
input[type="submit"]{
    background: #5c9b4d;
    color:white;
    padding: .5em;
    margin:.2em;
    border-radius:5px;
    font-weight: bold;
}

#autochangebutton{
    background-color: #3d7d28;
}

.theme_switcher{
    position: fixed;
    bottom: 0;
    right: 0;
}

/*animations*/
.square, .square2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 80%;
    z-index: 0;
}
.square > li{
    list-style: none;
    position: absolute;
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom:-100px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}
.square2 > li{
    list-style: none;
    position: absolute;
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom:-500px;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-animation: square 50s infinite linear;
    -moz-animation: square 50s infinite linear;
    animation: square 50s infinite linear;
}
.square li:nth-child(1), .square2 li:nth-child(1)  {
    left: 20%;
    width: 140px;
    height: 140px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.square li:nth-child(9), .square2 li:nth-child(9) {
    left: 35%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.square li:nth-child(2), .square2 li:nth-child(2) {
    left: 50%;
    width: 180px;
    height: 180px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}
.square li:nth-child(3), .square2 li:nth-child(3) {
    left: 60%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.square li:nth-child(4), .square2 li:nth-child(4) {
    left: 75%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.square li:nth-child(5), .square2 li:nth-child(5) {
    left: 25%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}
.square li:nth-child(6), .square2 li:nth-child(6) {
    left: 85%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}
.square li:nth-child(7), .square2 li:nth-child(7) {
    left: 95%;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

@-webkit-keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-700px) rotate(600deg); }
  }
@keyframes square {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-700px) rotate(600deg); }
}

/**animación negra*/
.music{
    color:whitesmoke;
    animation: bounce .3s infinite alternate;
    -webkit-animation: bounce .3s infinite alternate;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-5px);
    }
  }

/*animación loading*/
.container_clock{
    display: flex;
    flex-direction: column;
    color:white;
}
.clock{
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*animation flash*/
.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/*media queries*/

@media(max-width:700px){
    .body{
        overflow: hidden;
    }
    .container{
        flex-direction: column;
    }
    .messagecontainer{
        max-width: 100%;
        max-height: 100%;
        min-width: 50%;
        min-height: 30%;
    }
    .titulo{
        /*color:rgba(207, 92, 24, 0.75);*/
        font-size:1.5em;
    }
    .parrafo{
        /*color:rgb(35 95 123 / 93%);*/
        font-size:1em;
    }
    .square, .square2{
        width: 60%;
    }
}